<header class="header">
    
</header>
<section class="overview">
    <h1 class="section-heading">Our products are tailored to your needs!</h1>
    <div class="overview-item">
        <div class="overview-item__text">
            <h2>Custom Garage Flooring</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fugiat voluptatum placeat iste repellendus qui sapiente, sunt quos suscipit, quo excepturi. Deleniti numquam, adipisci incidunt consequuntur consequatur magnam odit fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eum est vel, perferendis blanditiis magni tempora officiis laborum facere possimus corrupti illo omnis provident quia quae, maxime amet natus magnam?</p>
        </div>
        <img class="overview-item__image" src="../../../assets/garage.jpg" alt="garage image"/>
    </div>
    <div class="overview-item">
        <div class="overview-item__text">
            <h2>Garage Door Openers</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fugiat voluptatum placeat iste repellendus qui sapiente, sunt quos suscipit, quo excepturi. Deleniti numquam, adipisci incidunt consequuntur consequatur magnam odit fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eum est vel, perferendis blanditiis magni tempora officiis laborum facere possimus corrupti illo omnis provident quia quae, maxime amet natus magnam?</p>
        </div>
        <img class="overview-item__image" src="../../../assets/phone-remote.jpg" alt="garage image"/>
    </div>
    <div class="overview-item">
        <div class="overview-item__text">
            <h2>Beautiful Cabinets</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fugiat voluptatum placeat iste repellendus qui sapiente, sunt quos suscipit, quo excepturi. Deleniti numquam, adipisci incidunt consequuntur consequatur magnam odit fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eum est vel, perferendis blanditiis magni tempora officiis laborum facere possimus corrupti illo omnis provident quia quae, maxime amet natus magnam?</p>
        </div>
        <img class="overview-item__image" src="../../../assets/cabinet.jpg" alt="garage image"/>
    </div>
    <button (click)="goToQuoteForm()" class="btn">Get A Quote!</button>
</section>