.overview {
  min-height: 20rem;
  padding: 2rem;
}

.section-heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #555;
}

.overview-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 4rem 0;

  &:nth-child(odd) {
    grid-template-areas: "txt txt img";
  }

  &:nth-child(even) {
    grid-template-areas: "img txt txt";
  }

  &__text {
    grid-area: txt;
    font-size: 1.6rem;
  }

  &__image {
    grid-area: img;
    display: block;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
  }
}
