/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4)
    ),
    url(./assets/metal.jpg) center / cover;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
}

button,
select {
  cursor: pointer;
}

.btn {
  font-size: 2rem;
  border: 0;
  background: rgb(66, 104, 161);
  padding: 1rem;
  color: #fff;
  border-radius: 1rem;
  display: block;
  width: auto;
  margin: 1rem auto;
  transition: all 0.3s;
  outline: none;

  &:hover,
  &:active {
    background: rgb(41, 66, 102);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.24);
    transform: translateY(-2px);
  }
}
